.btn-prev{
    margin: 0 20px !important;
}

.uploadFile{
    margin-top: 12px !important;
    height: 41px !important;
    margin-left: 20px !important;
}

body{
  height: 100%;
}

.app-header{
  height: 100%;
}

/* .app-header::before{
    content: '';
    background: url('./assets/interview.jpg') no-repeat center center/cover;
    position:absolute;
    top:0px;
    left:0px;
    opacity: 0.7; 
    width: 100vw; 
    height: 170%; 
    z-index: -1;
} */

.file-upload{
  display : block !important;
  margin : auto 0 !important;
}