#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn-prev{
    margin: 0 20px !important;
}

.uploadFile{
    margin-top: 12px !important;
    height: 41px !important;
    margin-left: 20px !important;
}